

/* Profile Section */
.profile-container {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cover-photo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-info {
    display: flex;
    padding: 20px;
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.profile-details h2 {
    margin: 0;
    font-size: 24px;
}

.profile-details p {
    color: #777;
}

/* New Post Section */
.new-post {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-post textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.new-post button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-post button:hover {
    background-color: #165eab;
}

/* Posts Section */
.Posts {
    width: 80%;
    margin: 20px auto;
}

.post {

    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    margin-bottom: 10px;
}

.post-user {
    display: flex;
}

.post-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-username h4 {
    margin: 0;
    font-size: 18px;
}

.post-username p {
    color: #777;
    font-size: 14px;
}

.post-time {
    font-size: 12px;
    color: #777;
}

.post-content p {
    font-size: 20px;
    color: #333;
}
