@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    line-height: 1.6;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;

  }
  
  .nav__links li {
    padding: 0px 15px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: rgba(168, 77, 77, 0.8);
  }
  
  .cta {
    padding: 5px 20px;
    background-color: rgb(155, 12, 12);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgb(100, 2, 2,0.8);
  }
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1500;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: rgba(168, 77, 77, 0.8);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  

.user-bar {
    display: flex;
    text-align: left; 
    justify-content: space-between;
    align-items: center; 
    background: linear-gradient(to right, #2c3e50, #35494d);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    
}
.dropdown {
    display: inline-block;
    position: relative;
    z-index: 1400;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #555;

    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(155, 12, 12);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: rgb(100, 2, 2);
}
.SmallSizeNav{
    display: none;
    list-style: none;
}
.SmallSizeNav li{
    width: 100vw;
    background-color: #333;
    border-bottom: 3px solid #ccc;
    transition: padding 0.3s;
    cursor: pointer;
    
}
.SmallSizeNav li a{
    color: white;
    width: 100vw;
    text-decoration: none;
    padding: 5px;
    
}
.SmallSizeNav li:hover{
    padding: 4px;
    background-color: grey;
    text-decoration: underline white;
}

footer {
    background-color: #282c34;
    color: rgb(192, 94, 94);
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.2s;
}

.footer-section:nth-child(1) { animation-delay: 0.2s; }
.footer-section:nth-child(2) { animation-delay: 0.4s; }
.footer-section:nth-child(3) { animation-delay: 0.6s; }
.footer-section:nth-child(4) { animation-delay: 0.8s; }
.footer-section:nth-child(5) { animation-delay: 1.0s; }
.footer-section:nth-child(6) { animation-delay: 1.2s; }

.footer-section h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    transition: color 0.3s;
}

.footer-section a {
    color: #c1c1c1;
    text-decoration: none;
}

.footer-section a:hover {
    color: #ebebeb;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

#newsletter-form input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

#newsletter-form button {
  width: 50%;

    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #ba4646;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#newsletter-form button:hover {
    background-color: #742a2a;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}